


  .beta { font-family: sheepman;
  font-weight: 800;
  scroll-behavior: smooth;
  position: absolute;
  flex: initial;
  background-color: white;}


  .alpha {font-family: sheepman;
  font-weight: 800;
  scroll-behavior: smooth;
  position: absolute;
  flex: initial;
  background-color: white;}
